.container {
  width: 100%;
  height: 960px;
  padding-top: 481px;
  background-color: var(--ghost-white);
  color: var(--dark-purple);
  clip-path: circle(2805px at center -1845px);
  position: absolute;
  z-index: -1;
  top: 504px;
}

.features {
  width: 1150px;
  height: 308px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.number {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark-purple);
  line-height: 40px;
  display: inline;
  padding: 10px 22px;
  border: 1px solid var(--davy-grey);
  border-radius: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.title {
  font-size: 32px;
  font-weight: 600;
  color: var(--dark-purple);
  line-height: 40px;
}

.description {
  color: var(--dark-purple);
  line-height: 32px;
  text-align: center;
}

@media screen and (max-width: 1170px) {
  .container {
    height: 920.73px;
    padding: 341px 98px 98px;
    clip-path: circle(2805px at center -1890px);
  }

  .features {
    width: 573px;
    height: auto;
    flex-direction: column;
    gap: 48px;
  }

  .feature {
    width: 100%;
    flex-direction: row;
    gap: 45px;
  }

  .number {
    font-size: 20px;
    line-height: 36px;
    padding: 10px 22px;
  }

  .info {
    align-items: flex-start;
    gap: 16px;
  }

  .title {
    font-size: 28px;
    line-height: 36px;
  }

  .description {
    font-size: 16px;
    line-height: 28px;
    text-align: left;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    top: 395px;
  }
}
