.container {
  width: 100%;
  height: 730px;
  color: var(--white);
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/bg-pattern-1.svg") top 116.12px left -138.27px no-repeat,
    url("/bg-pattern-2.svg") top 314.07px right -48.08px no-repeat,
    var(--dark-purple);
  clip-path: circle(2580px at center -1845px);
}

.content {
  width: 635px;
  height: 258px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.title {
  font-size: 80px;
  font-weight: 600;
  line-height: 80px;
  text-align: center;
}

.title > span {
  text-decoration: 3px underline var(--eucaplyptus);
  text-underline-offset: 10px;
}

.cta {
  width: 161px;
  height: 61px;
  background-color: var(--eucaplyptus);
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: var(--dark-purple);
  line-height: 32px;
  letter-spacing: -0.18px;
  border: 1px solid var(--eucaplyptus);
  outline: none;
  cursor: pointer;
}

.cta:hover {
  background: none;
  color: var(--eucaplyptus);
}

.image {
  width: 767px;
  height: 441px;
  position: absolute;
  left: 50%;
  bottom: -165px;
  transform: translateX(-50%);
  z-index: 1;
}

@media screen and (max-width: 1170px) {
  .container {
    height: 650px;
  }

  .container::before {
    clip-path: circle(1890px at center -1235px);
  }

  .image {
    width: 514px;
    height: 296px;
    bottom: -147.6px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    height: 540.24px;
    display: flex;
    flex-direction: column;
    gap: 56px;
  }

  .container::before {
    background: url("/bg-pattern-1.svg") top 71.12px left -227.27px no-repeat,
      url("/bg-pattern-2.svg") top 250px right -93.68px no-repeat,
      var(--dark-purple);
    clip-path: circle(1890px at center -1345px);
  }

  .content {
    width: 550px;
    height: 215px;
  }

  .title {
    font-size: 60px;
    line-height: 60px;
  }

  .cta {
    width: 133px;
    height: 55px;
    font-size: 16px;
    letter-spacing: -0.16px;
  }
}
